[buildout]
develop = .
parts = eggs
        instance
extends = http://download.zope.org/Zope2/index/2.13.7/versions.cfg

[eggs]
recipe = zc.recipe.egg
eggs = Zope2
    Products.mcdutils
interpreter = zopepy

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs = ${eggs:eggs}
