include *.txt
include *.rst
include *.py
include buildout.cfg
include zope2.cfg

include *.yml
exclude *.yml

include .gitignore
exclude .gitignore

exclude MANIFEST.in

recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include Products *.gif
recursive-include Products *.pt
recursive-include Products *.py
