include *.txt
include *.rst
include *.py
include buildout.cfg
include buildout4.cfg
include tox.ini

recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include src *.gif
recursive-include src *.pt
recursive-include src *.py
